.detail-left {
    background-color: rgb(170, 219, 238);
}

.detail-left>ul>li {
    text-align: center;
    line-height: 50px;
}

.detail-left>ul>li>a {
    color: rgb(56, 120, 216);
    font-size: 18px;
}

.detail-left>ul>li>a:hover {
    color: rgb(11, 96, 170);
}

.detail-left>ul>li>a:active {
    color: rgb(11, 96, 170);
}